addons/manage/static/src/xml/practica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="template">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="input">
                    <xs:complexType>
                        <xs:attribute name="type" use="required" />
                        <xs:attribute name="class" use="required" />
                        <xs:attribute name="value" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>